<launch>

    <arg name="id" />
    <arg name="agent_name" default="agent_$(arg id)" />
    <arg name="log_level" default="INFO" />
    <arg name="planner" default="false" />
    <arg name="sensors" default="false" />
    <arg name="config_path" default="$(find etddf_ros)/config/ros_agent_config.yaml" />
    <arg name="sensor_config_path" default="$(find etddf_ros)/config/sensor_sim_config.yaml" />

    <!-- Load parameters from config -->
    <rosparam command="load" file="$(arg config_path)" />
    <param name="agent_id" type="int" value="$(arg id)" />
    <param name="agent_name" type="string" value="$(arg agent_name)" />
    <param name="log_level" type="string" value="$(arg log_level)" />

    <!-- ET-DDF nodes -->
    <node name="comms_module" pkg="etddf_ros" type="comms.py" />
    <node name="agent" pkg="etddf_ros" type="agent_wrapper.py" output="screen" />

    <!-- Simulation-related nodes -->
    <group if="$(arg planner)">
        <node name="planner" pkg="etddf_ros" type="point_planner.py" output="screen" />
    </group>
    
    <group if="$(arg sensors)">
        <rosparam command="load" file="$(arg sensor_config_path)" />
        <node name="sensor_pub" pkg="etddf_ros" type="publish_sensors.py" output="screen" />
    </group>

</launch>