<launch>
  <arg name="ardusub_params" default="$(find minau)/config/ardusub_sitl_no_gps.param"/>

  <arg name="latitude" default="56.71897669633431"/>
  <arg name="longitude" default="3.515625"/>

  <arg name="use_360" default="False"/>
  <!-- Arguments for the location of the pier:
  Moves pier to x, y, z and then rotates pier by yaw.
  These are the locations of one edge of pier.
   -->
  <arg name="pier_x" default="30"/>
  <arg name="pier_y" default="0"/>
  <arg name="pier_z" default="-7"/>
  <arg name="pier_yaw" default="1.57"/>

  <!--Starts Gazebo with open ocean world
  
  -->

  <arg name="schedule_file" default="$(find minau)/config/schedules/schedule_3_assets.json"/>

  <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch">
    <arg name="paused" value="true"/>
  </include>

  <!-- Asset 3 Starting Position -->
  <arg name="x_3" value="0.5"/>
  <arg name="y_3" value="0.0"/>
  <arg name="z_3" value="0.0"/>
  <arg name="starting_position_3" value="[$(arg x_3), $(arg y_3), $(arg z_3)]"/>
  <!-- Asset 4 Starting Position -->
  <arg name="x_4" value="-0.5"/>
  <arg name="y_4" value="0.0"/>
  <arg name="z_4" value="0.0"/>
  <arg name="starting_position_4" value="[$(arg x_4), $(arg y_4), $(arg z_4)]"/>

  <!-- Spawn WAM-V mothership model in the simulated environment -->
  <include file="$(find minau)/launch/vehicle.wamv.sitl.launch">
    <arg name="asset_id" value="1"/>
    <arg name="ardusub_instance" value="5"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <!-- The following arguments must be set w.r.t. NED world frame -->
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.2"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0.0"/>

    <arg name="schedule_file" value="$(arg schedule_file)"/>
  </include>

  <!-- Spawns a Red Asset in the simulated environment--> 
  <include file="$(find minau)/launch/vehicle.red_actor.sitl.launch">
    <arg name="asset_id" value="6"/>
    <arg name="ardusub_instance" value="6"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>

    <arg name="x" value="5.0"/>
    <arg name="y" value="2.0"/>
    <arg name="z" value="1.5"/>
  </include>
  
  <!-- Spawn BlueROV2 model in the simulated environment -->
  <include file="$(find etddf)/launch/vehicle.bluerov2.sitl.launch">
  </include>

  <!-- Spawn BlueROV2 model in the simulated environment -->
  <include file="$(find etddf)/launch/vehicle.bluerov2.sitl.launch">
    <arg name="asset_id" value="3"/>
    <arg name="ardusub_instance" value="0"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <!-- The following arguments must be set w.r.t. NED world frame -->
    <arg name="x" value="$(arg x_3)"/>
    <arg name="y" value="$(arg y_3)"/>
    <arg name="z" value="$(arg z_3)"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0.0"/>
    <arg name="use_360" value="$(arg use_360)"/>
    <arg name="schedule_file" value="$(arg schedule_file)"/>
    <!-- DDF params -->
    <arg name="blue_team_names" value="[bluerov2_4]" />
    <arg name="blue_team_positions" value="[$(arg starting_position_4)]"/>
  </include>

  <include file="$(find etddf)/launch/vehicle.bluerov2.sitl.launch">
    <arg name="asset_id" value="4"/>
    <arg name="ardusub_instance" value="1"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <!-- The following arguments must be set w.r.t. NED world frame -->
    <arg name="x" value="$(arg x_4)"/>
    <arg name="y" value="$(arg y_4)"/>
    <arg name="z" value="$(arg z_4)"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0.0"/>
    <arg name="use_360" value="$(arg use_360)"/>
    <arg name="schedule_file" value="$(arg schedule_file)"/>
    <!-- DDF params -->
    <arg name="blue_team_names" value="[bluerov2_3]" />
    <arg name="blue_team_positions" value="[$(arg starting_position_3)]"/>
  </include>

  <node name="spawn_pier" pkg="gazebo_ros" type="spawn_model" args="-file $(find etddf)/models/pier/model.sdf -sdf -model pier -z -7 -x $(arg pier_x) -y $(arg pier_y) -Y $(arg pier_yaw)"/>
  <node name="namespace_node" pkg="minau" type="namespace_provider_node.py" output="screen">
    <param name="red_filter" value="red_actor_([^/]+)"/>
    <param name="blue_filter" value="bluerov2_([^/]+)"/>
  </node>
</launch>